<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Book Den</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
	<!-- navbar -->
	<div th:replace="fragments/navbar :: topnav"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<div class="container-fluid">
		<h1 style = "text-align: center; color:#00802b">Homepage</h1>
		<h2 style = "text-align: center; font-family: Comic Sans MS">Welcome to the Book Den, a place where people connect together through books</h2>
		<br>
	</div>
	<div class="container-fluid">
		<ul style="font-size:1.4em">
			<li>Total users: </li>
			<li>Total books: </li>
		</ul>
		<h2>Current logged in user is: <span sec:authentication="name"></span></h2>
	</div>
</body>
</html>